@import 'bootstrap';

.navbar-header img {
    height: 45px;
    width: 45px;
    float: left;
    margin: 7.5px 10px 7.5px 0;
}

body > .container {
    margin-top: 80px;
}

.admin-social-icon {
	height: 30px;
}