{{/* extends "layout.html" */}}
{{ define "content" }}
<div class="row">
    <div class="col-sm-12">
        <h1>
            Articles
            <a href="/admin/article/create" class="btn pull-right btn-primary">New</a>
        </h1>
    </div>
</div>
<div class="list-group">
    {{ range .Articles }}
        <a href="/admin/article/edit/{{ .ID }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ .Title }}</h4>
            <p class="list-group-item-text">{{ .Body }}</p>

            <p>Authors:
            {{ range .Authors }}
                <span>{{ .User.Username }}</span>
            {{ end }}
            </p>

            <span class="list-group-item-text">Created {{ .CreatedAt }}</span>
            <span class="list-group-item-text">Updated {{ .UpdatedAt }}</span>
        </a>
    {{ end }}
</div>
{{ end }}
