{{/* extends "layout.html" */}}
{{define "content"}}
    <h1>Toggle Live-Mode</h1>
    <p class="lead">Toggling "Live-mode" will embed the Stream on the frontpage.</p>
    <div class="row">
        {{ if .Livemode }}
            <div class="col-sm-4 col-md-2">
                <p><strong>Current status is <i>enabled</i></strong></p>
            </div>
            <div class="col-sm-4">
                <p><a
                    href="/admin/toggle"
                    class="confirmable btn btn-warning btn-xs"
                    data-message="Are you sure you want to disable Live-mode?">Disable</a>
                </p>
            </div>
        {{ else }}
            <div class="col-sm-4 col-md-2">
                <p><strong>Current status is <i>disabled</i></strong></p>
            </div>
            <div class="col-sm-4">
                <p><a
                    href="/admin/toggle"
                    class="confirmable btn btn-primary btn-xs"
                    data-message="Are you sure you want to enable Live-mode?">Enable</a>
                </p>
            </div>
        {{ end }}
    </div>

    <hr>

    <div class="row">
        <form action="/admin/schedule" method="POST">
            <div class="col-sm-12">
                <label for="url">Horaro Schedule URL</label>
                <p>Refreshing this will also flush the cache for the schedule</p>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" class="form-control" name="url" placeholder="Horaro API URL" value="{{ .ScheduleAPIURL }}">
                </div>
            </div>
            <div class="col-sm-6">
                <input type="submit" value="Update URL" class="btn btn-primary" />
            </div>                    
        </form>
    </div>

    <hr>

    <div class="row">
        <form action="/admin/front" method="POST">
            <div class="col-sm-12">
                <label>Frontpage</label>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Frontpage title" value="{{ .Frontpage.Title }}">
                </div>
            </div>

            <div class="col-sm-12">
                <label for="body">Content</label>
                <textarea class="form-control" rows="10" name="body">{{ .Frontpage.Body }}</textarea>
                <p class="help-block">Utilizes markdown formating. Here's a helpfull link for writing texts:
                    <br />
                    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a>
                </p>
            </div>
            
            <div class="col-sm-12">
                <div class="text-right">
                    <input type="submit" value="Update frontpage" class="btn btn-primary" />
                </div>
            </div>
                      
        </form>
    </div>
{{end}}