{{/* extends "layout.html" */}}
{{define "content"}}
    <h2>Welcome to the admin page</h2>

    <h3>Add new user:</h3>
    <form action="/admin/user/create" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" />
        <input type="submit" value="Submit" />
    </form>

    <h3>Registered users:</h3>
    <ul>
        {{ if .Users }}
            {{ range .Users }}
                <li>{{ .Username }}</li>
            {{ end }}
        {{ end }}
    </ul>
{{end}}
