//This is the article list

main.article-list {
   position: relative;
   z-index: 3;
   >h1 {
      font-weight: 100;
      font-size: 2rem;
      color: $orange;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: block;
      text-align: center;
      margin-bottom: $gutter * 2;
      padding-top: $gutter * 4;
      font-family: $condensed;
      @include medium-up {
         padding-top: 0;
      }
      &:after {
         content: '';
         display: block;
         max-width: 3rem;
         border-top: 3px $orange solid;
         margin: auto;
         margin-top: $gutter;
      }
   }
   article {
      padding: $gutter;
      background: $background-gradient-darker;
      box-shadow: 0 15px 35px rgba(0,0,0,.3), 0 5px 15px rgba(0,0,0,.2);
      margin: 0 $gutter $gutter * 1;
      @include medium-up {
         max-width: $max-width;
         margin: 0 auto $gutter * 3;
         transition: .4s all;
         border-radius: 6px;
         &:hover {
            transform: scale(1.01);
            box-shadow: 0 15px 45px rgba(0,0,0,.4);
            transition: .2s all;
         }
      }
      
      h1 {
         color: $white;
         font-family: $condensed;
         letter-spacing: 1px;
         font-weight: 300;
         text-transform: uppercase;
         font-size: 1.5rem;
         margin-bottom: $gutter / 2;
         time {
            display: block;
            
            color: $orange-light;
            border-radius: 5px;
            font-size: 1rem;
            line-height: 1.7;
            @include medium-up {
               float: right;
               padding: .1rem .4rem .2rem;
            }
         }
         &:after {
            content: '';
            clear: right;
            display: block;
         }
      }
      h2, h3, h4, h5, h5, h6, p {
         color: #f5f5f5;
         line-height: 1.6;
         font-size: 1rem;
         font-weight: 300;
         letter-spacing: .5px;
         @include medium-up {
            border-left: 3px solid rgba(255,255,255,.3);
            padding-left: $gutter;
         }
      }
      p {
         >a {
            display: inline;
            border: none;
            padding: 0;
            color: $orange;
         }
      }
      a {
         color: $white;
         padding-top: $gutter;
         margin-top: $gutter;
         display: block;
         border-top: 1px solid rgba(0,0,0,.2);
         transition: .2s color;
         text-decoration: none;
         @include medium-up {
            text-align: center;
            &:hover {
               color: $orange-light;
            }
         }
      }
   }
}

//This is the article
main.article {
   article {
      max-width: $max-width;
      margin: 0 auto  $gutter * 1;
      padding: $gutter;
      @include medium-up {
         margin: 0 auto $gutter * 3;
      }
      h1, h2, h3, h4, h5, h6 {
         color: $white;
         font-family: $condensed;
         text-transform: uppercase;
         font-weight: 100;
         letter-spacing: .5px;
         margin-bottom: $gutter / 2;
      }
      h2 {
         font-size: 1.75rem;
      }
      h3 {
         font-size: 1.5rem;
      }
      h4 {
         font-size: 1.25rem;
      }
      h5 {
         font-size: 1.125rem;
      }
      h6 {
         font-size: 1rem;
      }
      >h1 {
         font-weight: 100;
         font-size: 2rem;
         color: $orange;
         text-transform: uppercase;
         letter-spacing: 1px;
         display: block;
         text-align: center;
         padding-top: $gutter * 4;
         font-family: $condensed;
         @include medium-up {
            padding-top: 0;
         }
         &:after {
            content: '';
            display: block;
            max-width: 3rem;
            border-top: 3px $orange solid;
            margin: auto;
            margin-top: $gutter;
         }
      }
      p {
         display: block;
         font-size: 1.125rem;
         color: $white;
         line-height: 1.6;
         font-weight: 300;
         letter-spacing: .5px;
         >a {
            display: inline;
            border: none;
            padding: 0;
            color: $orange;
         }
         @include medium-up {
            transition: .4s all;
            border-radius: 6px;
         }
         a {
            color: $orange;
            text-decoration: none;
            @include medium-up {
               transition: .2s all;
               text-shadow: 0 0 0 transparent;
               &:hover {
                  color: $orange-light;
                  text-shadow: 0 2px 4px rgba(0,0,0,.4);
               }
            }
         }
      }
   }
}