.cookie-warning {
   z-index: 5;
   position: fixed;
   position: sticky;
   bottom: 0;
   left: 0;
   width: 100%;
   text-align: center;
   background: $blue-darker;
   padding: $gutter;
}

footer {
   background: $blue-darker;
   color: $white;
   position: relative;
   z-index: 3;
   text-align: center;
   font-size: .8rem;
   padding: $gutter;

   .menu {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
   }
}
