main {
    max-width: $max-width;
    @include medium-up {
        margin: auto;
    }
    
    h1 {
        margin: $gutter *2 0;
    }

    article {
        margin: $gutter * 2;
    }
    
    img {
        width: 100%;

        &.small {
            width: 50%;
        }
    }

    p, li {
        line-height: 1.6;
        letter-spacing: .5px;
        font-weight: 100;
        font-size: 1rem;
        margin-top: $gutter / 2;
        margin-bottom: $gutter / 2;
         strong {
            font-weight: 500;
         }
         a {
            color: $orange;
            &:hover,
            &:active,
            &:focus {
               color: $orange-light;
            }
         }
         @include medium-up {
            font-size: 1.125rem;
            max-width: 100%;
         }
      }
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.center-content {
   text-align: center;
}

.text-white {
   color: $white !important;
}