$condensed: 'Roboto Condensed', sans-serif;
$serif: 'Open Sans', sans-serif;

$grid-columns: 12;
$gutter: 1rem;
$max-width: 67.5rem;
$medium-up-width: 48rem;
@mixin medium-up {
   @media (min-width: #{$medium-up-width}) {
      @content;
   }
}
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}


html, body {
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
   background: $background;
   background: $background-gradient;
   background-size: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 100%;
   @include medium-up() {
      font-size: 16px;
   }
   
}
body {
    &:after {
       content: '';
       height: 25rem;
       max-width: 25rem;
       width: 70%;
       position: fixed;
       right: 0;
       background-image: url('../img/slogan-bg.png');
       background-size: 100%;
       background-position: right bottom;
       background-repeat: no-repeat;
       display: block;
       opacity: 0;
       bottom: 0;
       z-index: 2;
       pointer-events: none;
       @include medium-up {
          opacity: 1;
       }
    }
}
h1, h2, h3 , h4, span, p, a {
   text-rendering: optimizeLegibility;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
   display: block
}