.splash {
   width: 100%;
   top: 0;
   left: 0;
   padding: $gutter;
   
   @include medium-up {
      padding: 0 $gutter * 3;
   }
   &-logo {
      max-width: 5rem;
      @include medium-up {
         max-width: 10rem;
      }
      margin: auto;
      
      img {
         width: 100%;
      }
   }
   &-slogan {
      padding: 0 $gutter $gutter;
      max-width: $max-width;
      margin: auto;
      img {
         display: block;
         width: 50%;
         max-width: 15rem;
         margin: $gutter  auto;
         @include medium-up {
            margin: $gutter * 2 auto $gutter * 3;
            max-width: 20rem;
         }
      }
      p {
         color: white;
         line-height: 1.6;
         letter-spacing: .5px;
         font-weight: 100;
         font-size: 1rem;
         strong {
            font-weight: 500;
         }
         @include medium-up {
            font-size: 1.125rem;
            max-width: 100%;
         }
      }
   }
}