{{/* extends "layout.html" */}}
{{define "content"}}
    <main class="article">
        <h1>News article example</h1>
        <p>If clicked on an article, you'll see this. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quisquam nam voluptatem quasi quis nostrum quibusdam eligendi exercitationem, <a href="#">necessitatibus temporibus</a>! Dolor vel quod iusto delectus exercitationem accusantium cumque optio voluptas! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quisquam nam voluptatem quasi quis nostrum quibusdam eligendi exercitationem, necessitatibus temporibus! Dolor vel quod iusto delectus exercitationem accusantium cumque optio voluptas! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quisquam nam voluptatem quasi quis nostrum quibusdam eligendi exercitationem, necessitatibus temporibus! Dolor vel quod iusto delectus exercitationem accusantium cumque optio voluptas!</p>
    </main>
{{end}}