{{/* extends "layout.html" */}}
{{define "content"}}
    <section class="splash">
        <div class="splash-logo hide-medium">
            <img src="/static/img/logo.png" alt="">
        </div>
        {{ if .Livemode}}
            <div id="twitch-embed"></div>
        {{ end }}
    </section>
    <h1></h1>
    <main>
        <div class="splash-slogan">
            <img class="" src="/static/img/slogan.svg" alt="">
            <p><strong>{{ .Frontpage.Title }}</strong> 
                {{ .Frontpage.Body }}
            </p>
        </div>
    </main>

{{end}}