{{/* extends "layout.html" */}}
{{define "content"}}
    {{ if .Livemode}}
    <section class="splash">
            <div id="twitch-embed"></div>
    </section>
    {{ end }}
    <main class="content">
        <div class="splash-slogan">
            <img class="" src="/static/img/logos/esa-big-logo-merged.svg" alt="European Speedrunner Assembly!">
        </div>
        <article>
            <h1>{{ .Frontpage.Title }}</h1>
            {{ .Frontpage.Body }}
        </article>
    </main>

{{end}}
