{{/* extends "layout.html" */}}
{{define "content"}}
    <section class="splash">
        <div class="splash-logo hide-medium">
            <img src="/static/img/logo.png" alt="">
        </div>
        <div class="splash-slogan">
            <img class="" src="static/img/slogan.svg" alt="">
            <p><strong>ESA is a speedrunning-centred community meetup and marathon</strong>. The doors are open from Friday 21st of July until Sunday 30th of July, at 11:59pm. The stream is planned to run from the evening of 22nd of July the evening of 29th of July. Mass Housing will cover this entire period, and closes on Monday 31st at 10am. For the second time, the event is hosted in Växjö, Sweden with over 400 attendees. This summer, there will also be a major Smash Tournament, board game tournaments and a LAN party during the final weekend. Overall, the event is expected to reach over 1,000 attendees.
                    </p>
            
        </div>
        
    </section>
    <h1>{{ .Content.Title }}</h1>
    <main>
        {{ .Content.Body }}
    </main>

{{end}}