<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Layout.Meta.Title }}</title>
    <meta name="description" value="{{ .Layout.Meta.Description }}" />
    <meta name="og:image" value="{{ .Layout.Meta.Image }}" />

    <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/favicon/manifest.json">
    <link rel="mask-icon" href="/static/assets/favicon/safari-pinned-tab.svg" color="#603cba">
    <meta name="theme-color" content="#FFBA00">

    <link rel="stylesheet" href="/static/style/app.css?v=1.7">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153189507-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153189507-1' );
    </script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7213452.js"></script>
    <!-- End of HubSpot Embed Code -->
</head>
<body>
    <header>
        <span class="menu-toggle hide-medium"></span>
        <nav>
            {{ range $i, $e := .Layout.Menu.Items }}
                {{ if $e.NewTab}}
                    <a href="{{$e.Link}}" target="_blank">
                        {{ $e.Title }}
                    </a>
                {{ else }}
                    <a href="{{$e.Link}}">
                        {{ $e.Title }}
                    </a>
                {{ end }}

                {{ if eq $i 2 }}
                    <img class="logo" src="/static/img/logos/logo.svg" alt="European Speedrunner Assemble">
                {{ end }}
            {{ end }}
            <span class="close"></span>
        </nav>
    </header>
    {{template "content" .}}

    
    <section class="sponsors">
        <h2>Partners</h2>
        <h3>Platinum partners</h3>
        <div class="sponsor-container">
            <div class="sponsor platinum">
                <img src="/static/img/sponsors/twitch.png" 
                    alt="Twitch"
                    class="white">
            </div>

            <div class="sponsor platinum">
                <img src="/static/img/sponsors/malmostad.png" 
                alt="Malmö Stad">
            </div>

            <div class="sponsor platinum">
                <img src="/static/img/sponsors/viewsonic_elite.png" 
                    alt="ViewSonic">
            </div>
        </div>
<!--
        <h3>Gold partners</h3>
        <div class="sponsor-container">

        </div>
-->

        <h3>Charity partners</h3>
        <div class="sponsor-container">
            <div class="sponsor platinum">
                <img src="/static/img/sponsors/savethechildren.png"
                    alt="Save the Children">
            </div>
            <div class="sponsor platinum">
                <img src="/static/img/sponsors/movember.png" 
                    alt="Movember Foundation">
            </div>
            <div class="sponsor platinum">
                <img src="/static/img/sponsors/alzheimer.png"
                    alt="Alzheimerfonden">
            </div>
        </div>
    </section>


    <section class="social-bar">
        <h2>Get connected with us</h2>
        <div class="social-container">
            {{range $i, $e := .Layout.SocialLinks.Items }}
                <a href="{{$e.Link}}"  target="{{if $e.NewTab }} _blank {{end}}" rel="{{if $e.NewTab }} noopener {{end}}" >
                    <img src="{{$e.Image}}" alt="{{$e.ImageAlt}}">
                    <span>{{$e.Title}}</span>
                </a>

            {{ end }}
        </div>
    </section>
    <footer>
        © {{ .CopyrightYear }} ESA – European Speedrunner Assembly
        <div>
            <ul class="menu flex">
                <li><a href="/rules">Code of Conduct</a></li>
                <li><a href="/press">Press</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>
</body>

    {{ if .Livemode }}
        <!-- Load the Twitch embed script -->
        <script src="https://embed.twitch.tv/embed/v1.js"></script>
    {{ end }}
    <script src="/static/js/app.js" async></script>
</html>
