{{/* extends "layout.html" */}}
{{define "content"}}

    <main class="article-list">
        <h1>News are coming</h1>
        <article>
            <h1>consectetur adipisicing</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quisquam nam voluptatem quasi quis nostrum quibusdam eligendi exercitationem, necessitatibus temporibus! Dolor vel quod iusto delectus exercitationem accusantium cumque optio voluptas!
            </p>
            <a href="/news/id">Read more &rarr;</a>
        </article>

        <article>
            <h1>Lorem ipsum dolor sit</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quisquam nam voluptatem quasi quis nostrum quibusdam eligendi exercitationem, necessitatibus temporibus! Dolor vel quod iusto delectus exercitationem accusantium cumque optio voluptas!
            </p>
            <a href="/news/id">Read more &rarr;</a>
        </article>

        <article>
            <h1>Delectus quisquam</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quisquam nam voluptatem quasi quis nostrum quibusdam eligendi exercitationem, necessitatibus temporibus! Dolor vel quod iusto delectus exercitationem accusantium cumque optio voluptas!
            </p>
            <a href="/news/id">Read more &rarr;</a>
        </article>
    </main>

{{end}}