{{/* extends "layout.html" */}}
{{define "content"}}
    <h2 class="schedule-title">No schedule found</h2>
    <main class="content">
    	<p class="center-content">
    		You are a bit early. 
    	</p>

    	<p class="center-content"> 
			We are currently working on our next events. Every minute of an hour. Don't think about a rest.<br>
			The first places we will be posting updates at are our Twitter and Discord server. Keep an eye out!
    	</p>

    	<img class="center small" src="https://media.giphy.com/media/1207mdjYyU08Wk/giphy.gif" alt="Arrested Development, Tony Hale with a sheep." />
    </main>
{{end}}
