{{/* extends "layout.html" */}}
{{define "content"}}
    <h2 class="schedule-title">No schedule found</h2>
    <main class="content">
    	<p>
    		You are a bit early. 
    	</p>

    	<p>
    		The schedule for ESA 2018 has not been released yet.
    		Schedule will be posted by Monday 2018-05-14, but if you can't wait, check out the reveal stream starting 2018-05-13 20:00 CEST on <a href="https://twitch.tv/esamarathon">Twitch</a>.
    	</p>

    	<img class="center small" src="https://media.giphy.com/media/1207mdjYyU08Wk/giphy.gif" alt="Arrested Development, Tony Hale with a sheep." />
    </main>
{{end}}
