{{/* extends "layout.html" */}}
{{define "content"}}
    <div class="splash-logo hide-medium">
        <img src="/static/img/logo.svg" alt="">
    </div>

    <main class="content">
        <article>
            <h1>Sweepstake Rules</h1>
            <p class="margined">
                No donations required to enter the prize drawings.
            </p>

            <p class="margined">
                Maximum one entry per household, regardless of entry method.
            </p>

            <p class="margined">
                Sweepstakes period for ESA Winter 2018 is February 20th, 2018 at 12:00:00 pm CET to February 25th, 23:00:00 pm CET.
            </p>

            <p class="margined">
                You must be at least 18 years old and located in Europe, United States or Canada to eligible to enter the sweepstakes. ESA may collect personal information about the entrants according to GDPR.
            </p>

            <p class="margined">
                Drawings will be performed by representatives from ESA. Three (3) potential winners for each prize will be drawn. 
                The three (3) potential winners will be asked to highlight a clip from the time period from when the prize was eligible. 
                A jury from ESA will decide on which clip is most entertaining to decide the winner. 
                If multiple potential winners submits the same clip, the first person submitting will be decided as the winner. 
            </p>

            <p class="margined">
                In order enter without making a donation, send a postcard (no larger than 12cm x 18cm) in an envelope with proper postage affixed to European Speedrunner Assembly, Förmaksvägen 34, 35262, Växjö, Sweden and legibly hand-print your first and last name, home address, date of birth, telephone number, and e-mail address, with the following statement, noting in which Prize Round your entry should be counted: “Please enter me in the ESA Winter 2018 – Prize _______” 
            </p>

            <p class="margined">
                The prize should be the same name as stated in the donation tracker at www.donations.esamarathon.com for the event European Speedrunner Assembly Winter 2018.
            </p>

            <p>
                Main-in entries must be postmarked no later than the next business day following the close of the applicable prize period and received no later than March 15th.
            </p>

        </article>
    </main>

{{end}}